
<h1> Все автомобили </h1>
<h3>@Model.currCategory</h3>

@{
    foreach (var car in Model.AllCars)
    {
        <div>
            <h2>Модель: @car.name</h2>
            <p>Цена: @car.price.ToString("c")</p>

        </div>
    }
}

